#calendar{
	width: 100%;
}

.calendar_table {
	border-collapse: separate;
	border-spacing: 0;
	border-right: 1px solid;
	width: 100px;
}

.calendar_table td {
	width: 14%;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid;
	border-left: 1px solid;
}

.calendar_table tr {
	vertical-align: top;
	min-height: 85;
}

.calendar_table_title {
	border-left: 1px solid;
	border-top:1px solid;
	vertical-align: bottom;
	text-align: center;
	background-color: green;
}

tr.calendar_week_row {
	height: 30;
	background-color: #BDBDBD;
	border-bottom : 1px solid;
	border-top : 1px solid;
}

td.calendar_week_column {
	min-width: 60px;
	border-left : solid 1px;
	text-align: center;
	vertical-align: middle;
}

.calendar_date_div{
	position: relative;
	height: 15px;
	font-size: 9px;
}
.calendar_date_div a{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.calendar_sunday_div{
	position: relative;
	height: 15px;
	background-color: #FC8F8F;
	font-size: 9px;
}
.calendar_sunday_div a{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.calendar_saturday_div{
	position: relative;
	height: 15px;
	font-size: 9px;
	background-color: #90EE90;
}
.calendar_saturday_div a{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.calendar_public_holiday_div{
	position: relative;
	height: 15px;
	overflow: hidden;
	font-size: 9px;
	background-color: #AFEEEE;
}
.calendar_public_holiday_div a{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.calendar_today_div{
	position: relative;
	height: 15px;
	font-size: 9px;
	background-color: #F5DEB3;
}
.calendar_today_div a{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;	
}
.calendar_schedule_div{
	overflow: auto;
	min-height: 70px;
	font-size: 9px;
}
.calendar_schedule_div a{
	text-decoration:none;
}
.calendar_schedule_div a:hover {
	text-decoration:underline;
}